@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
/*@import url(//fonts.googleapis.com/css?family=Playfair:300,500);*/
#em1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#em2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#em3 {
  display: block;
  font-size: 1.17em;
  /* margin-top: 1em;
  margin-bottom: 1em;*/
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#em4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#em5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#em6 {
  display: block;
  font-size: 0.67em;
  /*margin-top: 2.33em;
  margin-bottom: 2.33em;*/
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#emp {
  font-size: 1em;
  text-align: justify;
}
#cardupdate {
  width: auto;
  height: 30vh;
}
.container {
  padding: 0px;

  color: #383431;
}

/*button hover*/
#rbutton:hover {
  color: white;
  background-color: #383431;
}
